.main-container{
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
}

.info{
    color: white;
    width: 50%;
    margin-right: 25px;
}

.picture-div{
    width: 50%;
}

.body-picture{
    margin-left: 20%;
    width: 100%;
}

@media (max-width: 768px) {

    .main-container{
        margin-left: 0%;
        margin-right: 0%;
        display: flex;
        flex-wrap: wrap;
    }

    .info{
        width: 100%;
    }

    .picture-div{
        margin-left: 0%;
        width: 100%;
    }

    .body-picture{
        margin-left: 0%;
        width: 100%;
    }
}