.main-container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
}

.main-container div{
    width: 50%;
}

.picture-div{
    align-items: center;
}

.profile-picture{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    border-radius: 20px;
}

.logos{
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.logos img{
    width: 70px;
}

.logos img:hover{
    opacity: 0.6;
}

.info{
    color: white;
}

@media (max-width: 768px) {
    .main-container{
        margin-left: 5%;
        margin-right: 5%;
    }

    .main-container div{
        width: 100%;
    }

    .profile-picture{
        width: 60%;
    }

    .logos img{
        width: 50px;
    }

}